In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import requests as req
from config import api_key
from pprint import pprint
import requests
import json

In [2]:
#Create list of top 250 IMBD movies to loop through 
table_MN = pd.read_html('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
top_250=table_MN[0]["Rank & Title"].str[4:-6]
top_250=list(top_250)

In [3]:
#Create base
base_url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

#Set up lists to hold response data
Title=[]
Year=[]
Rated=[]
Released=[]
Runtime=[]
Genre=[]
Director=[]
Writer=[]
Actors=[]
Plot=[]
Language=[]
Country=[]
Poster=[]
Metascore=[]
imdbID=[]
imdbRating=[]
imdbVotes=[]
Type=[]
Production=[]

In [4]:
#Loop through movies and add info to lists 
for movie in top_250:
    target_url = base_url + movie + api_key
    response = requests.get(target_url).json()
    
    Title.append(response.get('Title'))
    Year.append(response.get('Year'))
    Rated.append(response.get('Rated'))
    Released.append(response.get('Released'))
    Runtime.append(response.get('Runtime'))
    Genre.append(response.get('Genre'))
    Director.append(response.get('Director'))
    Writer.append(response.get('Writer'))
    Actors.append(response.get('Actors'))
    Plot.append(response.get('Plot'))
    Language.append(response.get('Language'))
    Country.append(response.get('Country'))
    Poster.append(response.get('Poster'))
    Metascore.append(response.get('Metascore'))
    imdbID.append(response.get('imdbID'))
    imdbRating.append(response.get('imdbRating'))
    imdbVotes.append(response.get('imdbVotes'))
    Type.append(response.get('Type'))
    Production.append(response.get('Production'))

In [5]:
#Create dataframe to hold data
top_250_df = pd.DataFrame({
    "Title":Title,
    "Year":Year,
    "Rated":Rated,
    "Released":Released,
    "Runtime":Runtime,
    "Director":Director,
    "Plot":Plot,
    "Poster":Poster,
    "Metascore":Metascore,
    "imdbID":imdbID,
    "imdbRating":imdbRating,
    "imdbVotes":imdbVotes,
    "Type":Type
})

In [6]:
#Check for null value rows
top_250_df[top_250_df.isnull().any(axis=1)]

#Drop rows
top_250_df.dropna(how='all')

,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,"2,296,430",movie
1,The Godfather,1972,R,24 Mar 1972,175 min,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,"1,589,401",movie
2,The Godfather: Part II,1974,R,18 Dec 1974,202 min,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,"1,110,514",movie
3,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,"2,268,809",movie
4,12 Angry Men,1957,Approved,10 Apr 1957,96 min,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,8.9,"674,457",movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,The Circus,1928,Passed,29 Jan 1928,72 min,Charles Chaplin,The Tramp finds work and the girl of his dream...,https://m.media-amazon.com/images/M/MV5BM2QwYW...,90,tt0018773,8.1,"28,271",movie
246,The Terminator,1984,R,26 Oct 1984,107 min,James Cameron,A human soldier is sent from 2029 to 1984 to s...,https://m.media-amazon.com/images/M/MV5BYTViNz...,84,tt0088247,8.0,"791,452",movie
247,Tangerines,2013,Not Rated,17 Apr 2015,87 min,Zaza Urushadze,"In 1992, war rages in Abkhazia, a breakaway re...",https://m.media-amazon.com/images/M/MV5BMTgwNz...,73,tt2991224,8.2,"38,660",movie
248,Aladdin,1992,G,25 Nov 1992,90 min,"Ron Clements, John Musker",A kindhearted street urchin and a power-hungry...,https://m.media-amazon.com/images/M/MV5BY2Q2ND...,86,tt0103639,8.0,"369,423",movie
249,Neon Genesis Evangelion: The End of Evangelion,1997,TV-14,01 Jun 2002,87 min,"Hideaki Anno, Kazuya Tsurumaki",Concurrent theatrical ending of the TV series ...,https://m.media-amazon.com/images/M/MV5BZjJhMT...,N/A,tt0169858,8.1,"36,874",movie

In [7]:
#Export to csv
top_250_df.to_csv("Top_250_Movies.csv", index=False, header=True)

In [8]:
top_250_genre_df = pd.DataFrame({
    "imdbID": imdbID, 
    "Title": Title,
    "Genre": Genre
})

top_250_genre_df

,imdbID,Title,Genre
0,tt0111161,The Shawshank Redemption,Drama
1,tt0068646,The Godfather,"Crime, Drama"
2,tt0071562,The Godfather: Part II,"Crime, Drama"
3,tt0468569,The Dark Knight,"Action, Crime, Drama, Thriller"
4,tt0050083,12 Angry Men,"Crime, Drama"
...,...,...,...
245,None,None,None
246,tt0088247,The Terminator,"Action, Sci-Fi"
247,tt2991224,Tangerines,"Drama, War"
248,tt0103639,Aladdin,"Animation, Adventure, Comedy, Family, Fantasy,..."
249,tt0169858,Neon Genesis Evangelion: The End of Evangelion,"Animation, Action, Drama, Fantasy, Sci-Fi"

In [9]:
top_250_genre_df.isnull().sum()

imdbID    8
Title     8
Genre     8
dtype: int64

In [10]:
top_250_genre_df.dropna(how = "any", inplace = True)

top_250_genre_df.reset_index(drop = True, inplace = True)

In [11]:
id_list = []
title_list = []
genre_list = []

for i in range(0, len(top_250_genre_df)):
    if len(top_250_genre_df["Genre"][i].split(",")) > 1:
        words = top_250_genre_df["Genre"][i].split(",")
        result = list(map(lambda x: x.strip(), words))
        
        genre_list.extend(result)
        
        for j in range(0, len(top_250_genre_df["Genre"][i].split(","))):
            id_list.append(top_250_genre_df["imdbID"][i])
            title_list.append(top_250_genre_df["Title"][i])
    else:
        words = top_250_genre_df["Genre"][i].strip()
        
        genre_list.append(words)
        
        id_list.append(top_250_genre_df["imdbID"][i])
        title_list.append(top_250_genre_df["Title"][i])

In [12]:
genre_df = pd.DataFrame({
    "imdbID": id_list,
    "Title": title_list,
    "Genre": genre_list
})

genre_df

        imdbID                                           Title      Genre
0    tt0111161                        The Shawshank Redemption      Drama
1    tt0068646                                   The Godfather      Crime
2    tt0068646                                   The Godfather      Drama
3    tt0071562                          The Godfather: Part II      Crime
4    tt0071562                          The Godfather: Part II      Drama
..         ...                                             ...        ...
690  tt0169858  Neon Genesis Evangelion: The End of Evangelion  Animation
691  tt0169858  Neon Genesis Evangelion: The End of Evangelion     Action
692  tt0169858  Neon Genesis Evangelion: The End of Evangelion      Drama
693  tt0169858  Neon Genesis Evangelion: The End of Evangelion    Fantasy
694  tt0169858  Neon Genesis Evangelion: The End of Evangelion     Sci-Fi

[695 rows x 3 columns]

In [13]:
genre_df.to_csv("top_250_genres.csv", index=False, header=True)