In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import requests as req
from config import api_key
from pprint import pprint
import requests
import json
from datetime import datetime
import numpy as np

In [2]:
# Create list of top 250 IMBD movies to loop through 
table_MN = pd.read_html('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
top_250=table_MN[0]["Rank & Title"].str[4:-6]
top_250=list(top_250)

In [3]:
# Create base
base_url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

# Set up lists to hold response data
Title=[]
Year=[]
Rated=[]
Released=[]
Runtime=[]
Genre=[]
Director=[]
Writer=[]
Actors=[]
Plot=[]
Language=[]
Country=[]
Poster=[]
Metascore=[]
imdbID=[]
imdbRating=[]
imdbVotes=[]
Type=[]
Production=[]

In [4]:
# Loop through movies and add info to lists 
for movie in top_250:
    target_url = base_url + movie + api_key
    response = requests.get(target_url).json()
    
    Title.append(response.get('Title'))
    Year.append(response.get('Year'))
    Rated.append(response.get('Rated'))
    Released.append(response.get('Released'))
    Runtime.append(response.get('Runtime'))
    Genre.append(response.get('Genre'))
    Director.append(response.get('Director'))
    Writer.append(response.get('Writer'))
    Actors.append(response.get('Actors'))
    Plot.append(response.get('Plot'))
    Language.append(response.get('Language'))
    Country.append(response.get('Country'))
    Poster.append(response.get('Poster'))
    Metascore.append(response.get('Metascore'))
    imdbID.append(response.get('imdbID'))
    imdbRating.append(response.get('imdbRating'))
    imdbVotes.append(response.get('imdbVotes'))
    Type.append(response.get('Type'))
    Production.append(response.get('Production'))

In [5]:
# Create dataframe to hold data
top_250_df = pd.DataFrame({
    "Title":Title,
    "Year":Year,
    "Rated":Rated,
    "Released":Released,
    "Runtime":Runtime,
    "Director":Director,
    "Plot":Plot,
    "Poster":Poster,
    "Metascore":Metascore,
    "imdbID":imdbID,
    "imdbRating":imdbRating,
    "imdbVotes":imdbVotes,
    "Type":Type
})

In [6]:
# Check for null value rows
top_250_df[top_250_df.isnull().any(axis=1)]

top_250_df.replace("N/A", np.NaN, inplace = True)

top_250_df["imdbID"] = top_250_df["imdbID"].drop_duplicates()

# Drop rows
top_250_df.dropna(how='any', inplace = True)

In [7]:
# Adding a rank column by resetting the index
top_250_df.reset_index(inplace = True)
top_250_df.head()

,index,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,0,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,"2,296,430",movie
1,1,The Godfather,1972,R,24 Mar 1972,175 min,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,"1,589,401",movie
2,2,The Godfather: Part II,1974,R,18 Dec 1974,202 min,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,"1,110,514",movie
3,3,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,"2,268,809",movie
4,4,12 Angry Men,1957,Approved,10 Apr 1957,96 min,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,9.0,"678,541",movie

In [8]:
# Increasing the value of the rank column by 1
top_250_df.rename(columns = {"index": "Rank"}, inplace = True)
top_250_df["Rank"] = top_250_df["Rank"].apply(lambda x: x + 1)
top_250_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,"2,296,430",movie
1,2,The Godfather,1972,R,24 Mar 1972,175 min,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,"1,589,401",movie
2,3,The Godfather: Part II,1974,R,18 Dec 1974,202 min,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,"1,110,514",movie
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,"2,268,809",movie
4,5,12 Angry Men,1957,Approved,10 Apr 1957,96 min,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,9.0,"678,541",movie

In [9]:
# Removing the "min" from the Runtime string
top_250_df["Runtime"] = top_250_df["Runtime"].str[:-3]
top_250_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,"2,296,430",movie
1,2,The Godfather,1972,R,24 Mar 1972,175,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,"1,589,401",movie
2,3,The Godfather: Part II,1974,R,18 Dec 1974,202,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,"1,110,514",movie
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,"2,268,809",movie
4,5,12 Angry Men,1957,Approved,10 Apr 1957,96,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,9.0,"678,541",movie

In [10]:
# Formatting the date to be read by SQL
top_250_df["Released"] = top_250_df["Released"].apply(lambda x: datetime.strptime(x, "%d %b %Y").strftime("%Y-%m-%d"))
top_250_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,1,The Shawshank Redemption,1994,R,1994-10-14,142,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,"2,296,430",movie
1,2,The Godfather,1972,R,1972-03-24,175,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,"1,589,401",movie
2,3,The Godfather: Part II,1974,R,1974-12-18,202,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,"1,110,514",movie
3,4,The Dark Knight,2008,PG-13,2008-07-18,152,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,"2,268,809",movie
4,5,12 Angry Men,1957,Approved,1957-04-10,96,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,9.0,"678,541",movie

In [11]:
top_250_df["imdbVotes"] = top_250_df["imdbVotes"].str.replace(",","")
top_250_df.head()

,Rank,Title,Year,Rated,Released,Runtime,Director,Plot,Poster,Metascore,imdbID,imdbRating,imdbVotes,Type
0,1,The Shawshank Redemption,1994,R,1994-10-14,142,Frank Darabont,Two imprisoned men bond over a number of years...,https://m.media-amazon.com/images/M/MV5BMDFkYT...,80,tt0111161,9.3,2296430,movie
1,2,The Godfather,1972,R,1972-03-24,175,Francis Ford Coppola,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,100,tt0068646,9.2,1589401,movie
2,3,The Godfather: Part II,1974,R,1974-12-18,202,Francis Ford Coppola,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,90,tt0071562,9.0,1110514,movie
3,4,The Dark Knight,2008,PG-13,2008-07-18,152,Christopher Nolan,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,84,tt0468569,9.0,2268809,movie
4,5,12 Angry Men,1957,Approved,1957-04-10,96,Sidney Lumet,A jury holdout attempts to prevent a miscarria...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,96,tt0050083,9.0,678541,movie

In [12]:
# Export to csv
top_250_df.to_csv("Top_250_Movies.csv", index=False, header=True)

In [13]:
# Creating a new dataframe to store the title and genre
top_250_genre_df = pd.DataFrame({
    "imdbID": imdbID, 
    "Title": Title,
    "Genre": Genre
})

top_250_genre_df

        imdbID                     Title                           Genre
0    tt0111161  The Shawshank Redemption                           Drama
1    tt0068646             The Godfather                    Crime, Drama
2    tt0071562    The Godfather: Part II                    Crime, Drama
3    tt0468569           The Dark Knight  Action, Crime, Drama, Thriller
4    tt0050083              12 Angry Men                    Crime, Drama
..         ...                       ...                             ...
245  tt0018773                The Circus                 Comedy, Romance
246       None                      None                            None
247  tt2991224                Tangerines                      Drama, War
248  tt0088247            The Terminator                  Action, Sci-Fi
249  tt2758880              Winter Sleep                           Drama

[250 rows x 3 columns]

In [14]:
top_250_genre_df = top_250_genre_df.loc[top_250_genre_df["imdbID"].isin(top_250_df["imdbID"])]

In [15]:
# Checking for null values
top_250_genre_df.isnull().sum()

imdbID    0
Title     0
Genre     0
dtype: int64

In [16]:
# Dropping any null values and resetting the index
top_250_genre_df.replace("N/A", np.NaN, inplace = True)

top_250_genre_df.dropna(how = "any", inplace = True)

top_250_genre_df.reset_index(drop = True, inplace = True)

C:\Users\matt_\anaconda3\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-16-c4fe29c46f2d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_250_genre_df.dropna(how = "any", inplace = True)

In [17]:
# Creating empty lists to hold information for new dataframe
id_list = []
title_list = []
genre_list = []

# Looping through the dataframe to seperate data into first normal form
for i in range(0, len(top_250_genre_df)):
    if len(top_250_genre_df["Genre"][i].split(",")) > 1:
        words = top_250_genre_df["Genre"][i].split(",")
        result = list(map(lambda x: x.strip(), words))
        
        genre_list.extend(result)
        
        for j in range(0, len(top_250_genre_df["Genre"][i].split(","))):
            id_list.append(top_250_genre_df["imdbID"][i])
            title_list.append(top_250_genre_df["Title"][i])
    else:
        words = top_250_genre_df["Genre"][i].strip()
        
        genre_list.append(words)
        
        id_list.append(top_250_genre_df["imdbID"][i])
        title_list.append(top_250_genre_df["Title"][i])

In [18]:
# Creating the new genre dataframe in first normal form
genre_df = pd.DataFrame({
    "imdbID": id_list,
    "Title": title_list,
    "Genre": genre_list
})

genre_df

        imdbID                     Title   Genre
0    tt0111161  The Shawshank Redemption   Drama
1    tt0068646             The Godfather   Crime
2    tt0068646             The Godfather   Drama
3    tt0071562    The Godfather: Part II   Crime
4    tt0071562    The Godfather: Part II   Drama
..         ...                       ...     ...
600  tt2991224                Tangerines   Drama
601  tt2991224                Tangerines     War
602  tt0088247            The Terminator  Action
603  tt0088247            The Terminator  Sci-Fi
604  tt2758880              Winter Sleep   Drama

[605 rows x 3 columns]

In [19]:
genre_df.reset_index(inplace = True)

In [20]:
genre_df.rename(columns = {"index": "id"}, inplace = True)
genre_df

      id     imdbID                     Title   Genre
0      0  tt0111161  The Shawshank Redemption   Drama
1      1  tt0068646             The Godfather   Crime
2      2  tt0068646             The Godfather   Drama
3      3  tt0071562    The Godfather: Part II   Crime
4      4  tt0071562    The Godfather: Part II   Drama
..   ...        ...                       ...     ...
600  600  tt2991224                Tangerines   Drama
601  601  tt2991224                Tangerines     War
602  602  tt0088247            The Terminator  Action
603  603  tt0088247            The Terminator  Sci-Fi
604  604  tt2758880              Winter Sleep   Drama

[605 rows x 4 columns]

In [21]:
# Exporting as a CSV
genre_df.to_csv("top_250_genres.csv", index=False, header=True)